// colors
$primary:#0071E4;
$secondary:#100E0E;
$third:#B7B7B7;
$fourth:#706E6E;
$fifth:#878787;
$sixth:#585656;
$seventh:#F9F9F9;
$eighth:#FDEFBF;
$nineth:#52D116;
$fullGreen:#46C609;
$lightBlue:#D0EAFC;
$lightGreen:#6FD91C;
